<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se completó su compra</title>
</head>
<body>
    <div style="align-items:center; text-align:center;">
        <h3 th:text="#{greeting(${buyer})}"></h3>
        <p th:text="#{purchase(${amount}, ${product}, ${price})}"></p>
        <p style="font-weight: bold;" th:text="#{totalprice(${total})}"></p>
        <h3 th:text="#{sellerInfo}"></h3>
        <div th:text="#{sellerNameMsg(${sellerName})}"></div>
        <div th:text="#{sellerEmailMsg(${sellerMail})}"></div>
        <div th:text="#{sellerPhoneMsg(${sellerPhone})}"></div>
    </div>
</body>
</html>